apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "poslite-cloudflared-horustech.fullname" . }}
  labels:
    {{- include "poslite-cloudflared-horustech.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "poslite-cloudflared-horustech.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "poslite-cloudflared-horustech.selectorLabels" . | nindent 8 }}
    spec:
      hostNetwork: {{ .Values.hostNetwork }}
      containers:
      - name: cloudflared
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - cloudflared
        - tunnel
        - --config
        - /etc/cloudflared/config.yaml
        - run
        volumeMounts:
        - name: config
          mountPath: /etc/cloudflared
          readOnly: true
        {{- if or .Values.config.credentials .Values.config.credentialsFile .Values.config.credentialsHostPath }}
        - name: credentials
          mountPath: /etc/cloudflared/credentials.json
          {{- if not .Values.config.credentialsHostPath }}
          subPath: credentials.json
          {{- end }}
          readOnly: true
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      volumes:
      - name: config
        configMap:
          name: {{ include "poslite-cloudflared-horustech.fullname" . }}-config
      {{- if .Values.config.credentialsHostPath }}
      - name: credentials
        hostPath:
          path: {{ .Values.config.credentialsHostPath }}/{{ .Values.config.tunnelId }}.json
          type: File
      {{- else if or .Values.config.credentials .Values.config.credentialsFile }}
      - name: credentials
        secret:
          secretName: {{ include "poslite-cloudflared-horustech.fullname" . }}-credentials
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
