# PosLite Cloudflared - PAM + BD only (puertos 7010, 7011, 7012, 7014, 7015, 7016, 7020, 5050, 5432)
image:
  repository: cloudflare/cloudflared
  tag: latest
  pullPolicy: IfNotPresent

replicas: 1
hostNetwork: true

config:
  tunnelId: ""
  credentialsFile: ""
  ingress:
    # PAM
    - hostname: ""
      service: http://localhost:7010
    - hostname: ""
      service: http://localhost:7011
    - hostname: ""
      service: http://localhost:7012
    - hostname: ""
      service: http://localhost:7014
    - hostname: ""
      service: http://localhost:7015
    - hostname: ""
      service: http://localhost:7016
    - hostname: ""
      service: http://localhost:7020
    # BD (pgadmin)
    - hostname: ""
      service: http://localhost:5050
    # BD (postgres TCP)
    - hostname: ""
      service: tcp://localhost:5432
    - service: http_status:404

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi

nodeSelector: {}
tolerations: []
affinity: {}
