# PosLite Cloudflared - Horustech + BD only (puertos 9010, 9012, 9014, 9015, 9020, 9021, 5050, 5432)
image:
  repository: cloudflare/cloudflared
  tag: latest
  pullPolicy: IfNotPresent

replicas: 1
hostNetwork: true

config:
  tunnelId: ""
  credentialsFile: ""
  ingress:
    # Horustech
    - hostname: ""
      service: http://localhost:9010
    - hostname: ""
      service: http://localhost:9012
    - hostname: ""
      service: http://localhost:9014
    - hostname: ""
      service: http://localhost:9015
    - hostname: ""
      service: http://localhost:9020
    - hostname: ""
      service: http://localhost:9021
    # BD (pgadmin)
    - hostname: ""
      service: http://localhost:5050
    # BD (postgres TCP)
    - hostname: ""
      service: tcp://localhost:5432
    - service: http_status:404

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi

nodeSelector: {}
tolerations: []
affinity: {}
